<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sant -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="sant.presentation.SANTModelWizardID"
            name="%_UI_SANTModelWizard_label"
            class="sant.presentation.SANTModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SANTModelFile.gif">
         <description>%_UI_SANTModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated sant -->
      <editor
            id="sant.presentation.SANTEditorID"
            name="%_UI_SANTEditor_label"
            icon="icons/full/obj16/SANTModelFile.gif"
            extensions="sant"
            class="sant.presentation.SANTEditor"
            contributorClass="sant.presentation.SANTActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sant -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tmdl.scenario.presentation.ScenarioModelWizardID"
            name="%_UI_ScenarioModelWizard_label"
            class="tmdl.scenario.presentation.ScenarioModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ScenarioModelFile.gif">
         <description>%_UI_ScenarioModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sant -->
      <editor
            id="tmdl.scenario.presentation.ScenarioEditorID"
            name="%_UI_ScenarioEditor_label"
            icon="icons/full/obj16/ScenarioModelFile.gif"
            extensions="scenario"
            class="tmdl.scenario.presentation.ScenarioEditor"
            contributorClass="tmdl.scenario.presentation.ScenarioActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sant -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tmdl.library.presentation.LibraryModelWizardID"
            name="%_UI_LibraryModelWizard_label"
            class="tmdl.library.presentation.LibraryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LibraryModelFile.gif">
         <description>%_UI_LibraryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sant -->
      <editor
            id="tmdl.library.presentation.LibraryEditorID"
            name="%_UI_LibraryEditor_label"
            icon="icons/full/obj16/LibraryModelFile.gif"
            extensions="library"
            class="tmdl.library.presentation.LibraryEditor"
            contributorClass="tmdl.library.presentation.LibraryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sant -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tmdl.core.presentation.CoreModelWizardID"
            name="%_UI_CoreModelWizard_label"
            class="tmdl.core.presentation.CoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoreModelFile.gif">
         <description>%_UI_CoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sant -->
      <editor
            id="tmdl.core.presentation.CoreEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="tmdl.core.presentation.CoreEditor"
            contributorClass="tmdl.core.presentation.CoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sant -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tmdl.expressions.presentation.ExpressionsModelWizardID"
            name="%_UI_ExpressionsModelWizard_label"
            class="tmdl.expressions.presentation.ExpressionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExpressionsModelFile.gif">
         <description>%_UI_ExpressionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sant -->
      <editor
            id="tmdl.expressions.presentation.ExpressionsEditorID"
            name="%_UI_ExpressionsEditor_label"
            icon="icons/full/obj16/ExpressionsModelFile.gif"
            extensions="expressions"
            class="tmdl.expressions.presentation.ExpressionsEditor"
            contributorClass="tmdl.expressions.presentation.ExpressionsActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated san -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="san.presentation.SANModelWizardID"
            name="%_UI_SANModelWizard_label"
            class="san.presentation.SANModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SANModelFile.gif">
         <description>%_UI_SANModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated san -->
      <editor
            id="san.presentation.SANEditorID"
            name="%_UI_SANEditor_label"
            icon="icons/full/obj16/SANModelFile.gif"
            extensions="msan"
            class="san.presentation.SANEditor"
            contributorClass="san.presentation.SANActionBarContributor">
      </editor>
   </extension>

</plugin>
