<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sant -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="sant.presentation.SANTModelWizardID"
            name="%_UI_SANTModelWizard_label"
            class="sant.presentation.SANTModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SANTModelFile.gif">
         <description>%_UI_SANTModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated sant -->
      <editor
            id="sant.presentation.SANTEditorID"
            name="%_UI_SANTEditor_label"
            icon="icons/full/obj16/SANTModelFile.gif"
            extensions="sant"
            class="sant.presentation.SANTEditor"
            contributorClass="sant.presentation.SANTActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated san -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="san.presentation.SANModelWizardID"
            name="%_UI_SANModelWizard_label"
            class="san.presentation.SANModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SANModelFile.gif">
         <description>%_UI_SANModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated san -->
      <editor
            id="san.presentation.SANEditorID"
            name="%_UI_SANEditor_label"
            icon="icons/full/obj16/SANModelFile.gif"
            extensions="msan"
            class="san.presentation.SANEditor"
            contributorClass="san.presentation.SANActionBarContributor">
      </editor>
   </extension>

</plugin>
