<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated san -->
      <package
            uri="http://www.modelspartiti.org/templates/san/san"
            class="org.modelspartiti.formalisms.san.san.SANPackage"
            genModel="model/san.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated san -->
      <parser
            type="msan"
            class="org.modelspartiti.formalisms.san.san.util.SANResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sant -->
      <package
            uri="http://www.modelspartiti.org/templates/san/sant"
            class="org.modelspartiti.formalisms.san.sant.SANTPackage"
            genModel="model/sant.genmodel"/>
   </extension>

</plugin>
