<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tmdl -->
      <package
            uri="http://www.modelspartiti.org/infrastructure/tmdl"
            class="org.modelspartiti.infrastructure.tmdl.tmdlPackage"
            genModel="model/tmdl.genmodel"/>
   </extension>

</plugin>
